.left-section{
    grid-area: left;
}
.right-section{
    grid-area: right;
}

.main-content{
    min-height:1000px;
    width:90%;
    margin:20px auto;
    display: grid;
     grid-template-areas: 'left right';
    grid-template-columns: 300px 700px;
    
}

.left-section{
    grid-column: span 1;
    background-color:rgb(33, 31, 36);
    color: white;
     min-height: 1000px; 

}
.left-content{
    padding: 1rem;
}
.right-section{
    grid-column: span 1/span 2;
    min-height: 1000px;
    background-color: rgb(230, 226, 219);
    color: #000;
}
.profile-image{
    border-radius: 30%;
    display: block;
    margin: auto;
    width:60%;
    border:5px white solid;
}
.name{
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.02px;
    padding: 0.8rem;
    text-transform: uppercase;
}
.designation{
    padding: 0.5rem;
    font-size: 1rem;
    text-align:center ;
    text-transform: uppercase;
}
.description{
    font-size: 0.75rem;
    text-align: center;
    padding: 1rem;
}
    
.icon{
    list-style: none;
    }

.social-media{
    margin-top: 20px;
    margin-left: 15px;
    
}
.personal-details{
    margin-left: 15px;
}
.skills{
    font-size: 0.75rem;
    text-align: center;
    text-transform: uppercase;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.skill-name{
    font-size: 0.65rem;
    font-weight: 0.65rem;
    text-align: left;
    padding-bottom: 0.5rem;
    
}
.progress-bar{
    border: 1px white solid;
    height: 4px;
   
}
.right-main-content{
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.right-title{
    letter-spacing: 1px;
    text-transform: uppercase;
    color:black;
    padding:0.5rem;
    font-size: 1.2rem;
    font-weight: 700;
}
.text{
    color: #000;
}

@media screen and (max-width: 674px){
    .main-content{
        min-height:1000px;
        width:90%;
        margin:20px auto;
        display: grid;
         grid-template-areas: 'left''right';
        grid-template-columns: repeat(1,1fr);
        
    }
    .left-section{
        background-color: rgb(33, 31, 36);
        color: white;
    }
    .right-section{
        background-color: rgb(230, 226, 219);
        color: #0000;
    }
    .profile-image{
        width:30%;
    }
       
}